@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&display=swap');
  
:root {
    --white: #FFFFFF;
    --gray: #CFCFCF;
    --red: #FF0000;
    --green: #4CAF50;
    --black: #474747;
    --chocolate: #976116;
    --primary: #FFB857;
    --accent: #F8A12A;
    --secondary: #F39109;
    --font: 'Source Sans Pro', sans-serif;
}

$white: var(--white);
$red: var(--red);
$green: var(--green);
$chocolate: var(--chocolate);
$gray: var(--gray);
$black: var(--black);
$primary: var(--primary);
$accent: var(--accent);
$secondary: var(--secondary);

$font: var(--font);
  