@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: 575.98px) {
        font-size: 12px;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 12px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 12px;
    }
    
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 13px;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 13px;
    }
    @media (min-width: 2500px) {
        font-size: 20px;
    }
}

body {
    font-family: $font;
    background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 35%);
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
    font-weight: 500;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: none;
}

/* font sizing groups */
.reg--12 {
    font-size: 0.75rem;
    @media (max-width: 575.98px) {
        font-size: 1rem;
    }
    @media (min-width: 576px) and (max-width: 991.98px) {
        font-size: 1rem;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 1rem;
    }
}

.reg--14 {
    font-size: 0.875rem;
}

.reg--18 {
    font-size: 1.125rem;
    @media (max-width: 575.98px) {
        font-size: 1rem;
    }
    @media (max-width: 376px) {
        font-size: 0.8rem;
    }
}

.reg--20 {
    font-size: 1.25rem;
    @media (max-width: 376px) {
        font-size: 1rem;
    }
}

.italic--reg--18 {
    font-size: 1.125rem;
    font-style: italic;
    @media (max-width: 575.98px) {
        font-size: 1rem;
    }
    @media (max-width: 376px) {
        font-size: 0.8rem;
    }
}

.semi--20 {
    font-size: 1.25rem;
    font-weight: 600;
}

.semi--25 {
    font-size: 1.5625rem;
    font-weight: 600;
    @media (max-width: 575.98px) {
        font-size: 1rem;
    }
    @media (max-width: 376px) {
        font-size: 0.8rem;
    }
}

.bold--12 {
    font-size: 0.75rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 1.3rem;
    }
    @media (min-width: 576px) and (max-width: 991.98px) {
        font-size: 1rem;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 1rem;
    }
}

.bold--16 {
  font-size: 1rem;
  font-weight: 700;
}

.bold--18 {
    font-size: 1.125rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 1rem;
    }
    @media (max-width: 376px) {
        font-size: 0.8rem;
    }
}

.bold--20 {
  font-size: 1.25rem;
  font-weight: 700;
}

.bold--22 {
    font-size: 1.375rem;
    font-weight: 700;
}
  
.bold--30 {
    font-size: 1.875rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 1.25rem;
    }
    @media (max-width: 376px) {
        font-size: 1rem;
    }
}

.bold--45 {
  font-size: 2.8125rem;
  font-weight: 700;
}

.black--23 {
    font-size: 1.4375rem;
    font-weight: 900;
}

/* button settings */
.start--btn {
    // background: linear-gradient(-45deg, $primary 0%, $secondary 100%);
    background: $accent;
    color: $white;
    border-radius: 3.5rem;
    border: 0.5rem solid transparent;
    transition: all .1s ease-in-out;
    padding: 1rem 2.5rem;
    img{
        transition: all .3s ease-in-out;
    }
    &:hover{
        border: 0.5rem solid $primary;
        img{
            transform: translateX(1rem);
        }
    }
}

.question--btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 1.2rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 50rem;
    color: $white;
    background-color: var(--accent);
    border-color: transparent;
    @media (max-width: 575.98px) {
        width: 90%;
        font-size: 1.5rem;
    }
    &:hover{
        background-color: var(--secondary);
    }
}

.product--btn {
    display: block;
    text-align: center;
    width: 70%;
    padding: .8rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: .8rem;
    color: $white;
    background-color: var(--accent);
    border-color: transparent;
    @media (max-width: 575.98px) {
        width: 90%;
        padding: .5rem;
        font-size: 1rem;
    }
    @media (max-width: 376px) {
        font-size: 0.8rem;
        padding: .3rem;
    }
    &:hover{
        color: $white;
        background-color: var(--secondary);
    }
}

/* card settings */
.bounty--card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    border-radius: 0.75rem;
    box-shadow: 1px 1px 14px -1px rgba(0,0,0,0.50);
    @media (max-width: 767.98px) {
        width: 100%;
        min-height: 32rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 100%;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        width: 65%;
    }
    @media (min-width: 1532px) and (max-width: 2499.99px) {
        width: 80%;
    }
    @media (min-width: 2500px) {
        width: 100%;
    }
    @media (max-width: 320px) {
        min-height: 36rem;
    }
    @media (min-width: 321px) and (max-width: 376px) {
        min-height: 34rem;
    }
}

/* header starts */
.header{
    background-color: $accent;
    padding: 1rem 1.25rem;
    animation: fadeIn .5s;
}

/* hero starts */
.hero{
    animation: fadeIn .1s;
    .hero--banner{
        background-image: url(../img/hero-bg.webp);
        width: 100%;
        min-height: 43.75rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 767.98px) {
            min-height: 60rem;
        }
        @media (max-width: 575.98px) {
            background-image: url(../img/hero-bg-xs.webp);
            min-height: 65rem;
        }
        @media (min-width: 2500px) {
            min-height: 47rem;
        }
        .hero--title{
            @media (max-width: 575.98px) {
                padding: 5rem 0 !important;
            }
            h1{
                color: $accent;
            }
            h2 {
                position: relative;
                margin: 0 auto;
                max-width: 37.5rem;
                &:before, &:after {
                    position: absolute;
                    content: "";
                    width: 6.25rem;
                    height: 0.1875rem;
                    top: 50%;
                    background: $black;
                    @media (max-width: 575.98px) {
                        width: 8rem;
                    }
                    @media (max-width: 320px) {
                        width: 5rem;
                    }
                    @media (min-width: 321px) and (max-width: 376px) {
                        width: 7rem;
                    }
                }
                &:before {
                    left: 5rem;
                    @media (max-width: 376px) {
                        left: 0rem;
                    }
                    @media (min-width: 375.98px) and (max-width: 575.98px) {
                        left: 1rem;
                    }
                }
                &:after {
                    right: 5rem;
                    @media (max-width: 376px) {
                        right: 0rem;
                    }
                    @media (min-width: 375.98px) and (max-width: 575.98px) {
                        right: 1rem;
                    }
                }
            }
        }
    
        .bounty--card{
            @media (max-width: 575.98px) {
                background-image: url(../img/pattern-xs-1.png);
            }
            @media (min-width: 576px) {
                background-image: url(../img/pattern-xl-1.png);
            }
            .circle--wrapper{
                position: relative;
                @media (max-width: 575.98px) {
                    display: flex;
                    justify-content: center;
                    margin-top: 4rem;
                }
                
                @media (min-width: 576px) and (max-width: 767.98px) {
                    display: flex;
                    justify-content: center;
                    margin-top: 4rem;
                }
                .subPromo {
                    position: absolute;
                    background-color: $accent;
                    color: $white;
                    width: 8.4375rem;
                    height: 8.4375rem;
                    flex-direction: column;
                    border-radius: 100%;
                    line-height: 1;
                    top: -1.25rem;
                    right: 2.5rem;
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        right: 6.5rem;
                    }
                    @media (max-width: 320px) {
                        top: -4.5rem;
                        right: -0.5rem;
                    }
                    @media (min-width: 321px) and (max-width: 376px) {
                        right: .2rem;
                    }
                }
                .promo {
                    position: absolute;
                    background-color: $white;
                    width: 11.25rem;
                    height: 11.25rem;
                    border-radius: 100%;
                    border: 0.125rem solid #F5F5F5;
                    .promo--circle {
                        padding: 1.875rem 1.5625rem;
                        animation: heartbeat 3s infinite linear;
                        @keyframes heartbeat {
                            0% {
                                transform: scale(0.8);
                            }
                            50% {
                                transform: scale(1);
                            }
                            100% {
                                transform: scale(0.8);
                            }
                        }
                    }
                }
            }
        }
        .start{
            .start--div{
                position: relative;
                :before{
                    content:'';
                    display:block;
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                    background: linear-gradient(60deg, transparent 0%, transparent 35%, #ffffff99 50%, transparent 62%, transparent 100%);
                    animation-name: shimmer;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    background-repeat:no-repeat;
                    border-radius: 3.5rem;
                  }
                  @keyframes shimmer {
                    0% {
                      background-position: -62rem 0%;
                    }
                    100% {
                      background-position: 62rem 0%;
                    }
                  }
            }
        }
    }

    .expired{
        background-color: $black;
        color: $white;
        position: fixed;
        z-index: 999;
        bottom: 0;
        width: 100%;
        @media (max-width: 575.98px) {
            bottom: 20px;
        }
        p{
            @media (max-width: 575.98px) {
                font-size: 1.3rem;
            }
            @media (max-width: 320px) {
                font-size: 1.1rem;
            }
            .timer{
                background-color: $red;
                border-radius: 1rem;
            }
            img{
                @media (max-width: 575.98px) {
                    width: 1.3rem;
                }
                @media (max-width: 320px) {
                    width: 1rem;
                }
            }
        }
    }
}

/* question starts */
.survey{
    display: none;
    animation: fadeIn .5s;
    .survey--card{
        background-color: $white;
        width: 100%;
        padding: 2.5rem 2rem;
        border-radius: 7rem;
        margin-top: 7rem;
        box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.50);
        min-height: 40rem;
        @media (max-width: 575.98px) {
            border-radius: 4rem;
        }
        @media (min-width: 1300px) and (max-width: 1531.98px){
            width: 80%;
            margin: 0 auto;
        }
        .survey--inner{
            width: 65%;
            margin: 0 auto;
            padding: 3rem 0;
            @media (max-width: 575.98px) {
                width: 100%;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                width: 90%;
            }
            .progress--bar{
                .progress--detail{
                    background: #EBEBEB;
                    overflow: hidden;
                    height: .8rem;
                    border-radius: 1rem;
                    .progress {
                        background: $primary;
                        width: 0;
                        height: inherit;
                        border-top-right-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                        transition: 1s ease all;
                    }
                }
            }
            .transit--down{
                padding-top: 7rem;
                transition: all .8s ease-in-out;
            }
            .question {
                @media (max-width: 575.98px) {
                    h4{
                        font-size: 2rem;
                    }
                    h2{
                        font-size: 1.2rem;
                    }
                }
            }
            .validate{
                animation: fadeIn .3s;
                .validate--table{
                    width: 70%;
                    margin: 0 auto;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (min-width: 2500px) {
                        width: 80%;
                    }
                    p{
                        @media (max-width: 320px) {
                            font-size: 0.9rem;
                        }
                        @media (min-width: 321px) and (max-width: 376px) {
                            font-size: 1.1rem;
                        }
                        span{
                            img{
                                @media (max-width: 575.98px) {
                                    width: 2rem;
                                }
                            }
                        }
                    }             
                }
                .fade--opacity{
                    opacity: .5;
                }
                .fade--gone{
                    font-weight: 700;
                    opacity: 1;
                }
            }
        }
    }
}

/* offers starts */
.offers{
    display: none;
    animation: fadeIn .5s;
    background-color: $white;
    .bounty--card{
        min-height: 0;
        @media (max-width: 575.98px) {
            background-image: url(../img/pattern-xs-2.png);
        }
        @media (min-width: 576px) {
            background-image: url(../img/pattern-xl-2.png);
        }
    }

    .coupon{
        color: $green;
        border: 3px dashed $green;
        padding: 0.3rem;
        width: 30%;
        margin: 0 auto;
        opacity: 0;
        @media (max-width: 575.98px) {
            width: 65%;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            width: 50%;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            width: 35%;
        }
        @media (min-width: 992px) and (max-width: 1299.98px) {
            width: 30%;
        }
        @media (min-width: 1300px) and (max-width: 1531.98px){
            width: 25%;
        }
        @media (min-width: 2500px) {
            width: 35%;
        }
        @media (max-width: 320px) {
            width: 80%;
        }
        @media (min-width: 321px) and (max-width: 376px) {
            width: 70%;
        }
    }

    .fadeInUp{
        animation-name: fadeInUp;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    .products{
        display: none;
        @media (min-width: 1300px){
            max-width: 82.5rem;
        }
        .product{
            width: 100%;
            box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.10);
            border-radius: 0.5rem;
            .product--img{
                position: relative;
                width: 50%;
                background-color: #F7F7F7;
                .product--badge{
                    position: absolute;
                    margin: 0.8rem;
                    @media (max-width: 575.98px) {
                        width: 35%;
                    }
                }
            }
            .product--desc{
                width: 50%;
                padding: 1rem;
                .rating{
                    -webkit-text-fill-color: $accent;
                    -webkit-text-stroke-width: 0.07rem;
                    -webkit-text-stroke-color: $chocolate;
                }
                .remaining{
                    color: $red;
                }
                .product--timer{
                    h6{
                        span{
                            color: $red;
                        }
                    }
                    .btn--expired{
                        background-color: $red;
                    }
                }
            }
        }
        .grayed--out{
            border: 0.2rem solid $red;
            .product--img{
                opacity: .3;
            }
            .product--desc{
                .description{
                    opacity: .3;
                }
            }
        }
    }
}

/* footer starts */
.footer{
    animation: fadeIn .5s;
    padding: 7rem 0;
    .conditions{
        width: 80%;
        margin: 0 auto;
        color: $chocolate;
        @media (max-width: 991.98px) {
            width: 100%;
        }
        @media (min-width: 1300px) and (max-width: 1531.98px){
            width: 65%;
        }
        @media (min-width: 2500px) {
            width: 100%;
        }
        p{
            a{
                color: $chocolate;
            }
            u{
                @media (max-width: 575.98px) {
                    font-size: 1rem;
                }
                @media (min-width: 1300px) and (max-width: 1531.98px){
                    font-size: 1rem;
                }
            }
        }
    }

    .terms--dialog{
        max-width: 70rem;
        @media (max-width: 991.98px) {
            max-width: 60rem;
        }
        .modal-content{
            border-radius: 7rem;
            @media (max-width: 575.98px) {
                border-radius: 3rem;
            }
        }
        .modal-header {
            border-bottom: none;
            .close {
                font-size: 4.5rem;
                font-weight: 500;
                padding: 2rem 6rem;
                opacity: 1;
                @media (max-width: 575.98px) {
                    padding: 2rem 4rem;
                }
            }
        }
        .terms--body{
            color: $chocolate;
            padding: 0rem 7rem 3rem 7rem;
            @media (max-width: 575.98px) {
                padding: 0rem 3rem 3rem 3rem
            }
        }
    }

    .comment{
        display: none;
        animation: fadeIn .5s;
        .comment--card{
            background-color: $white;
            width: 100%;
            padding: 2.5rem 2rem;
            border-radius: 7rem;
            margin: 0 0 3rem 0;
            box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.50);
            @media (max-width: 767.98px) {
                padding: 1.5rem 1rem;
                border-radius: 4rem;
            }
            .comment--item{
                width: 85%;
                margin: 0 auto;
                @media (max-width: 575.98px) {
                    width: 90%;
                }
                @media (min-width: 576px) and (max-width: 991.98px) {
                    width: 95%;
                }
                @media (min-width: 1300px) and (max-width: 1531.98px){
                    width: 70%;
                }
                .comment--img{
                    width: 15%;
                    @media (max-width: 767.98px) {
                        width: 20%;
                    }
                    img{
                        width: 5.5rem;
                        border-radius: 50%;
                        @media (max-width: 575.98px) {
                            width: 4rem;
                        }
                        @media (max-width: 320px) {
                            width: 3rem;
                        }
                    }
                }
                .comment--desc{
                    width: 90%;
                    @media (max-width: 767.98px) {
                        width: 80%;
                    }
                    p{
                        @media (max-width: 575.98px) {
                            font-size: 1rem;
                        }
                    }
                    .verified{
                        color: $green;
                        font-size: 0.875rem;
                        font-weight: 700;
                        font-style: italic;
                    }
                    .comment--rating{
                        span{
                            @media (max-width: 575.98px) {
                                font-size: 1rem;
                            }
                            i{
                                -webkit-text-fill-color: $accent;
                                -webkit-text-stroke-width: 0.03rem;
                                -webkit-text-stroke-color: $accent;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}