@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
:root {
  --white: #FFFFFF;
  --gray: #CFCFCF;
  --red: #FF0000;
  --green: #4CAF50;
  --black: #474747;
  --chocolate: #976116;
  --primary: #FFB857;
  --accent: #F8A12A;
  --secondary: #F39109;
  --font: 'Source Sans Pro', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: var(--font);
  background: -webkit-gradient(linear, left top, right top, from(var(--primary)), color-stop(35%, var(--secondary)));
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 35%);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

/* font sizing groups */
.reg--12 {
  font-size: 0.75rem;
}

@media (max-width: 575.98px) {
  .reg--12 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .reg--12 {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .reg--12 {
    font-size: 1rem;
  }
}

.reg--20 {
  font-size: 1.25rem;
}

.bold--12 {
  font-size: 0.75rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--12 {
    font-size: 1.3rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .bold--12 {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .bold--12 {
    font-size: 1rem;
  }
}

.bold--16 {
  font-size: 1rem;
  font-weight: 700;
}

.bold--18 {
  font-size: 1.125rem;
  font-weight: 700;
}

.bold--20 {
  font-size: 1.25rem;
  font-weight: 700;
}

.bold--30 {
  font-size: 1.875rem;
  font-weight: 700;
}

.bold--45 {
  font-size: 2.8125rem;
  font-weight: 700;
}

.black--23 {
  font-size: 1.4375rem;
  font-weight: 900;
}

/* header starts */
.header {
  background-color: var(--accent);
  padding: 1rem 1.25rem;
}

/* hero starts */
.hero .hero--banner {
  background-image: url(../img/hero-bg.webp);
  width: 100%;
  min-height: 43.75rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767.98px) {
  .hero .hero--banner {
    min-height: 60rem;
  }
}

@media (max-width: 575.98px) {
  .hero .hero--banner {
    background-image: url(../img/hero-bg-xs.webp);
    min-height: 65rem;
  }
}

@media (min-width: 2500px) {
  .hero .hero--banner {
    min-height: 47rem;
  }
}

@media (max-width: 575.98px) {
  .hero .hero--banner .survey-text {
    padding: 5rem 0 !important;
  }
}

.hero .hero--banner .survey-text h1 {
  color: var(--accent);
}

.hero .hero--banner .survey-text h2 {
  position: relative;
  margin: 0 auto;
  max-width: 37.5rem;
}

.hero .hero--banner .survey-text h2:before, .hero .hero--banner .survey-text h2:after {
  position: absolute;
  content: "";
  width: 6.25rem;
  height: 0.1875rem;
  top: 50%;
  background: var(--black);
}

@media (max-width: 575.98px) {
  .hero .hero--banner .survey-text h2:before, .hero .hero--banner .survey-text h2:after {
    width: 8rem;
  }
}

@media (max-width: 320px) {
  .hero .hero--banner .survey-text h2:before, .hero .hero--banner .survey-text h2:after {
    width: 5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .hero--banner .survey-text h2:before, .hero .hero--banner .survey-text h2:after {
    width: 7rem;
  }
}

.hero .hero--banner .survey-text h2:before {
  left: 5rem;
}

@media (max-width: 376px) {
  .hero .hero--banner .survey-text h2:before {
    left: 0rem;
  }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
  .hero .hero--banner .survey-text h2:before {
    left: 1rem;
  }
}

.hero .hero--banner .survey-text h2:after {
  right: 5rem;
}

@media (max-width: 376px) {
  .hero .hero--banner .survey-text h2:after {
    right: 0rem;
  }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
  .hero .hero--banner .survey-text h2:after {
    right: 1rem;
  }
}

.hero .hero--banner .bounty--card {
  background-image: url(../img/pattern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  border-radius: 0.75rem;
  -webkit-box-shadow: 1px 1px 14px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 14px -1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767.98px) {
  .hero .hero--banner .bounty--card {
    background-image: url(../img/pattern-xs.png);
    width: 100%;
    min-height: 32rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--banner .bounty--card {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .hero .hero--banner .bounty--card {
    width: 65%;
  }
}

@media (min-width: 1532px) and (max-width: 2499.99px) {
  .hero .hero--banner .bounty--card {
    width: 80%;
  }
}

@media (min-width: 2500px) {
  .hero .hero--banner .bounty--card {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .hero .hero--banner .bounty--card {
    min-height: 36rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .hero--banner .bounty--card {
    min-height: 34rem;
  }
}

.hero .hero--banner .bounty--card .circle--wrapper {
  position: relative;
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

.hero .hero--banner .bounty--card .circle--wrapper .subPromo {
  position: absolute;
  background-color: var(--accent);
  color: var(--white);
  width: 8.4375rem;
  height: 8.4375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 100%;
  line-height: 1;
  top: -1.25rem;
  right: 2.5rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper .subPromo {
    right: 6.5rem;
  }
}

@media (max-width: 320px) {
  .hero .hero--banner .bounty--card .circle--wrapper .subPromo {
    top: -4.5rem;
    right: -0.5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .hero--banner .bounty--card .circle--wrapper .subPromo {
    right: .2rem;
  }
}

.hero .hero--banner .bounty--card .circle--wrapper .promo {
  position: absolute;
  background-color: var(--white);
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 100%;
  border: 0.125rem solid #F5F5F5;
}

.hero .hero--banner .bounty--card .circle--wrapper .promo .promo--circle {
  padding: 1.875rem 1.5625rem;
  -webkit-animation: heartbeat 3s infinite linear;
          animation: heartbeat 3s infinite linear;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.hero .hero--banner .start .start--btn {
  position: relative;
}

.hero .hero--banner .start .start--btn :before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(60deg, transparent 0%, transparent 35%, #ffffff99 50%, transparent 62%, transparent 100%);
  -webkit-animation-name: shimmer;
          animation-name: shimmer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  border-radius: 3.5rem;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -62rem 0%;
  }
  100% {
    background-position: 62rem 0%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -62rem 0%;
  }
  100% {
    background-position: 62rem 0%;
  }
}

.hero .hero--banner .start .start--btn button {
  background: linear-gradient(-45deg, var(--primary) 0%, var(--secondary) 100%);
  color: var(--white);
  border-radius: 3.5rem;
  border: 0.5rem solid transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  padding: 1rem 2.5rem;
}

.hero .hero--banner .start .start--btn button img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hero .hero--banner .start .start--btn button:hover {
  border: 0.5rem solid var(--accent);
}

.hero .hero--banner .start .start--btn button:hover img {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.hero .expired {
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
}

@media (max-width: 575.98px) {
  .hero .expired {
    bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .hero .expired p {
    font-size: 1.3rem;
  }
}

@media (max-width: 320px) {
  .hero .expired p {
    font-size: 1.1rem;
  }
}

.hero .expired p .timer {
  background-color: var(--red);
  border-radius: 1rem;
}

@media (max-width: 575.98px) {
  .hero .expired p img {
    width: 1.3rem;
  }
}

@media (max-width: 320px) {
  .hero .expired p img {
    width: 1rem;
  }
}

/* footer starts */
.footer {
  padding: 7rem 0;
}

.footer .conditions {
  width: 80%;
  margin: 0 auto;
  color: var(--chocolate);
}

@media (max-width: 991.98px) {
  .footer .conditions {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .footer .conditions {
    width: 65%;
  }
}

@media (min-width: 2500px) {
  .footer .conditions {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .footer .conditions p u {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .footer .conditions p u {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */